<div class="sidebar" role="aside" >
  <header class="header">
    <a href="/">
      <img id="blog" class="logo" src="/images/logo.png">
    </a>

    <div class="separator"></div>

    <p class="description">Thoughts, stories and ideas.</p>
    <div class="social-icons">
      <a href="https://github.com/sdepold" class="icon icon-github"></a>
      <a href="https://twitter.com/sdepold" class="icon icon-twitter"></a>
      <!-- <a href="/rss" class="icon-rss"></a> -->
      <a href="mailto:sascha+blog@depold.com" class="icon-mail"></a>
    </div>
  </header>
</div>
